.container
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*-------- Card --------------*/
.card {
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.card {
  width: 225px;
  height: 300px;
}
.card:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* -- Card color ------------------------------------- */
.card-indigo {
  background-color: #5c6bc0;
}
.card-indigo:hover,
.card-indigo:active,
.card-indigo.active {
  background-color: #3949ab;
}
.card-indigo:focus {
  background-color: #303f9f;
}
.card-indigo:disabled,
.card-indigo.disabled,
.card-indigo[disabled] {
  background-color: #b3b3b3;
}
.card-indigo .dot {
  background-color: #283593;
}
.card-indigo-reverse {
  background-color: #5c6bc0;
}
.card-indigo-reverse:hover {
  background-color: #eceff1;
}
.card-indigo-inverse {
  background-color: #eceff1;
}
.card-indigo-inverse-reverse:hover {
  background-color: #ec407a;
}
.card-indigo-inverse-reverse .dot {
  background-color: #283593;
}

/*-------- Ripple --------------*/
.ripple {
  position: relative;
  overflow: hidden;
  -webkit-transform: translatez(0);
}
.dot {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  transform: scale(0);
}
.dot {
  background: #fff;
  opacity: 1;
}
.dot.animate {
  -webkit-animation: ripple 0.5s linear;
  -o-animation: ripple 0.5s linear;
  animation: ripple 0.5s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}